<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{template/sidebar::header('Trang chủ')}">
</head>
<body>
<div th:replace="~{template/sidebar::navbar}"></div>
<h1>Blog detail</h1>
<div class="container">
    <table class="table table-striped" th:object="${blog}">
        <tr>
            <td>ID</td>
            <td th:text="*{id}"></td>
        </tr>
        <tr>
            <td>Tiêu đề</td>
            <td th:text="*{title}"></td>
        </tr>
        <tr>
            <td>Danh mục</td>
            <td th:text="*{category.categoryName}"></td>
        </tr>
        <tr>
            <td>Ngày viết</td>
            <td th:text="*{date}"></td>
        </tr>
        <tr>
            <td>Nội dung</td>
            <td th:text="*{content}"></td>
        </tr>
    </table>
</div>
<a th:href="@{/blog/trangchu/}">Quay lại</a>
</body>
</html>